@use 'sass:map';
@use '@angular/material' as mat;
@use 'generated/crimson-void';
@use 'generated/solar-flare';
@use 'generated/amber-glow';
@use 'generated/forest-whisper';
@use 'generated/teal-torrent';
@use 'generated/neon-cyberpunk';
@use 'generated/oceanic-depth';
@use 'generated/indigo-night';
@use 'generated/royal-amethyst';
@use 'generated/magenta-madness';
@use 'generated/sakura-breeze';
@use 'generated/golden-sands';
@use 'generated/midnight-slate';

$themes: (
  'crimson-void': (primary: crimson-void.$primary-palette, tertiary: crimson-void.$tertiary-palette),
  'solar-flare': (primary: solar-flare.$primary-palette, tertiary: solar-flare.$tertiary-palette),
  'amber-glow': (primary: amber-glow.$primary-palette, tertiary: amber-glow.$tertiary-palette),
  'forest-whisper': (primary: forest-whisper.$primary-palette, tertiary: forest-whisper.$tertiary-palette),
  'teal-torrent': (primary: teal-torrent.$primary-palette, tertiary: teal-torrent.$tertiary-palette),
  'neon-cyberpunk': (primary: neon-cyberpunk.$primary-palette, tertiary: neon-cyberpunk.$tertiary-palette),
  'oceanic-depth': (primary: oceanic-depth.$primary-palette, tertiary: oceanic-depth.$tertiary-palette),
  'indigo-night': (primary: indigo-night.$primary-palette, tertiary: indigo-night.$tertiary-palette),
  'royal-amethyst': (primary: royal-amethyst.$primary-palette, tertiary: royal-amethyst.$tertiary-palette),
  'magenta-madness': (primary: magenta-madness.$primary-palette, tertiary: magenta-madness.$tertiary-palette),
  'sakura-breeze': (primary: sakura-breeze.$primary-palette, tertiary: sakura-breeze.$tertiary-palette),
  'golden-sands': (primary: golden-sands.$primary-palette, tertiary: golden-sands.$tertiary-palette),
  'midnight-slate': (primary: midnight-slate.$primary-palette, tertiary: midnight-slate.$tertiary-palette),
);

@mixin apply-themes {
  @each $name, $palettes in $themes {
    .theme-#{$name} {
      &.dark-theme {
        @include mat.theme((
          color: (
            theme-type: dark,
            primary: map.get($palettes, primary),
            tertiary: map.get($palettes, tertiary),
          ),
          typography: Roboto,
          density: 0,
        ));
      }

      &.light-theme {
        @include mat.theme((
          color: (
            theme-type: light,
            primary: map.get($palettes, primary),
            tertiary: map.get($palettes, tertiary),
          ),
          typography: Roboto,
          density: 0,
        ));
      }
    }
  }
}
