.update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--text-color);

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    mat-icon {
      font-size: 64px;
      width: 64px;
      height: 64px;

      &.success-icon {
        color: #4caf50;
      }
      &.info-icon {
        color: #2196f3;
      }
      &.error-icon {
        color: #f44336;
      }
    }
  }
}
