<div 
  class="drop-zone" 
  [class.dragging]="isDragging"
  [class.has-file]="!!selectedFile"
  tabindex="0"
  (dragover)="onDragOver($event)" 
  (dragleave)="onDragLeave($event)" 
  (drop)="onDrop($event)"
  (click)="fileInput.click()"
  (keyup.enter)="fileInput.click()">
  
  <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none">

  @if (!selectedFile) {
    <mat-icon class="drop-icon">cloud_upload</mat-icon>
    <div class="drop-text">
        <h3>DarkDrop Secure Transfer</h3>
        <p>Drag & Drop a file here or click to select</p>
    </div>
  } @else {
    <mat-icon class="file-icon">insert_drive_file</mat-icon>
    <div class="file-info">
        <span class="filename">{{ selectedFile.name }}</span>
        <span class="filesize">{{ (selectedFile.size / 1024 / 1024) | number:'1.2-2' }} MB</span>
    </div>
    <button mat-icon-button (click)="$event.stopPropagation(); clearFile()" matTooltip="Clear File">
        <mat-icon>close</mat-icon>
    </button>
  }
</div>
