<mat-sidenav-container class="sidenav-container" hasbackdrop="true">
  <mat-sidenav #drawer class="sidenav" fixedInViewport mode="over">
    <mat-toolbar class="nav-link-center">DARKSTAR</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <div class="nav-link-center">
          <mat-icon>home</mat-icon>
        </div>
      </a>
      <a mat-list-item routerLink="/home">
        <div class="nav-link-center">
          <mat-icon fontSet="material-symbols-outlined">encrypted_add_circle</mat-icon>
        </div>
      </a>
      <a mat-list-item routerLink="/home">
        <div class="nav-link-center">
          <mat-icon fontSet="material-symbols-outlined">encrypted_minus_circle</mat-icon>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      <span class="spacer"></span>
      <img [src]="theme.logoSrc()" alt="logo" class="navbar-logo">
      <span class="spacer"></span>
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ theme.isDarkTheme() ? 'light_mode' : 'dark_mode' }}</mat-icon>
      </button>
    </mat-toolbar>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
